In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (8.4.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "balsam", password = "Saraomar295297@")

In [4]:
 #Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [5]:
use_littlelemondb = """USE littlelemondb"""

In [6]:
cursor.execute(use_littlelemondb)

In [7]:
show_tables_query = "SHOW tables"

In [8]:
cursor.execute(show_tables_query)

In [9]:
for table in cursor.fetchall():
    print(table)

('bookings',)
('customer',)
('delivery',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('staff',)

In [10]:
import random

In [16]:
query = """
    SELECT c.CustomerName, c.Email
    FROM Customer c
    JOIN Orders o ON c.CustomerID = o.CustomerID
    WHERE o.TotalCost > 60;
"""

In [17]:
cursor.execute(query)

In [18]:
results = cursor.fetchall()

In [19]:
for row in results:
    CustomerName, Email = row
    print("Full Name: {CustomerName}, Email: {Email}")

Full Name: {CustomerName}, Email: {Email}
Full Name: {CustomerName}, Email: {Email}

In [20]:
print(results)

[('John Doe', 'johndoe@example.com'), ('laila ali', 'johndoe@example.com')]

In [21]:
query = """
    SELECT c.CustomerName, c.Email, o.TotalCost
    FROM Customer c
    JOIN Orders o ON c.CustomerID = o.CustomerID;
"""

In [22]:
cursor.execute(query)

In [24]:
results = cursor.fetchall()

In [25]:
for row in results:
    full_name, email, total_cost = row
    print(f"Full Name: {full_name}, Email: {email}, Total Cost: {total_cost}")

In [26]:
query = """
    SELECT c.CustomerName, c.Email, o.TotalCost
    FROM Customer c
    JOIN Orders o ON c.CustomerID = o.CustomerID
    WHERE o.TotalCost > 60;
"""

In [27]:
cursor.execute(query)

In [28]:
results = cursor.fetchall()

In [29]:
for row in results:
    full_name, email, total_cost = row
    print(f"Full Name: {full_name}, Email: {email}, Total Cost: {total_cost}")

Full Name: John Doe, Email: johndoe@example.com, Total Cost: 120
Full Name: laila ali, Email: johndoe@example.com, Total Cost: 200

In [30]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.